[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
numpy = "==1.26.4"
torch = "==2.3.0"
torchvision = "==0.18.0"

[dev-packages]
pytest = "*"
flake8 = "*"
black = "*"

[requires]
python_version = "3.10"
